<div class="main-box">
    <div class="mb-3">
      <button type="button" class="btn btn-dark bi bi-person-plus" [routerLink]="['/home/createinstrument']">  Nuevo Instrumento</button>
    </div>
    
  <div class="form-outline" data-mdb-input-init>
    <input type="text" id="form1" class="form-control" placeholder="Buscar" aria-label="Search" [(ngModel)]="searchText" (input)="search()"/>
  </div>
  <div class="ml-1">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Instrumento</th>
            <th scope="col">Tipo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let instrument of instruments">
            <th scope="row">{{instrument.name}}</th>
            <td>{{instrument.individual ? 'Individual': 'Grupal'}}</td>
            <td>
              <!-- <button type="button" class="btn btn-info edit-table bi bi-pencil-square"></button> -->
              <button type="button" class="btn btn-danger bi bi-trash" (click)="deleteInstrument(instrument.id)"></button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

