<div class="main-box">
    <a routerLink="/home/createperson">Nuevo Registro</a>
  <div class="form-outline" data-mdb-input-init>
    <input type="text" id="form1" class="form-control" placeholder="Buscar" aria-label="Search" [(ngModel)]="searchText" (input)="search()" />
  </div>
  <div class="ml-1">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Identificacion</th>
            <th scope="col">Nombre</th>
            <th scope="col">Telefono</th>
            <th scope="col">Email</th>
            <th scope="col">Direccion</th>
            <th scope="col">Tipo</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of people">
            <th scope="row">{{person.personId}}</th>
            <td>{{person.name}}</td>
            <td>{{person.phone1}}</td>
            <td>{{person.email}}</td>
            <td>{{person.address}}</td>
            <td>
              <i class="bi bi-person-vcard" title="estudiante" *ngIf="person.student"></i>
              <i class="bi bi-person-walking" title="profesor" *ngIf="person.professor"></i>
              <i class="bi bi-person-circle" title="encargado" *ngIf="person.commissioned"></i>
            </td>
            <td>
              <button type="button" class="btn btn-info edit-table bi bi-pencil-square" [routerLink]="['/home/updateperson', person.id]" ></button>
              <button type="button" class="btn btn-danger bi bi-trash" (click)="deletePerson(person.id)"></button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

