<!-- person-list.component.html -->
<div class="main-box">
  <div class="form-outline" data-mdb-input-init>
    <input type="text" id="form1" class="form-control" placeholder="Buscar" aria-label="Search" [(ngModel)]="searchText" (input)="search()" />
  </div>
  <div class="ml-1">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Identificacion</th>
            <th scope="col">Nombre</th>
            <th scope="col">Telefono</th>
            <th scope="col">Email</th>
            <th scope="col">Direccion</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of people">
            <th scope="row">{{person.personId}}</th>
            <td>{{person.name}}</td>
            <td>{{person.phone1}}</td>
            <td>{{person.email}}</td>
            <td>{{person.address}}</td>
            <td><button type="button" class="btn btn-info edit-table" [routerLink]="['/home/updateperson', person.id]" >Editar</button><button type="button" class="btn btn-danger" (click)="deletePerson(person.id)">Eliminar</button></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

